.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}

.navbar {
  background-color: #282c34;
  height: 80px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 40px;
}

.menu {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.navmenu {
  background-color: #282c34;
  min-width: 200px;
  height: 100vh;
  display: flex;
  justify-content: start;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.navmenu.open {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 8px 8px 0px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: bisque;
  font-size: 24px;
  padding: 0px 8px 0px 8px;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: indianred;
}

.navmenu-items {
  width: 100%;
}

.navmenu-toggle {
  background-color: #282c34;
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}